body{
    background: url("/img/bg.jpg");
}
.box{
    height: 100px;
}
.scroll {
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

  }

  /* The animation code */
@keyframes scroll {
    0% {transform: translateX(-12px);}

    100% {transform: translateX(5px);}

  }

  
@media(max-width:550px){
    .image{
        display: none !important;
        margin:0 !important;
        padding: 0 !important;
    }
    .intro{
        font-size: 55px !important;
        
    }
}